

/*-__________ Top-level styles __________-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #DE6449;
	margin: 0;
	padding: 0;
}


/*-__________ Header styles __________-*/

.main-header,
.header-title {
	width: 100%;
}

.header-title {
	background: #407899;
	border-radius: 5px 5px 0 0;
	font-size: 2em;
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #000;
}

h1 {
	margin: 0;
	color: #fff;
}

nav {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #000;
	padding: 10px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: auto;
}

li {
	display: inline-block;
	margin: 10px 50px;
}


/*-__________ Main content area styles __________-*/

.main-content {
	background: #fff;
	margin: 30px;
	border-radius: 5px;
	min-height: 100vh;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*-========== Card styles ==========-*/

.card {
	margin: 20px;
	padding: 10px;
	float: left;
	border: 1px solid #000;
}

.card-header {
	width: 200px;
	text-align: center;
}

h3 {
	margin: 50px 20px;
}

.type {
	display: inline-block;
}


/*-__________ Footer styles __________-*/

.main-footer {
	text-align: center;
	padding: 20px;
}

